@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$montserrat: 'Montserrat', sans-serif;
$border-radius: 16px;
$main-color: #6402ce;
$secondary-color: #c48dff;

/* media queries */

@mixin for-phone-only {
  @media (max-width: 540px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 960px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1140px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}