@import '../../styles/theme-variables.scss';
@import '../../styles/config/variables.scss';

.flex-container {
	display: flex;
}

fieldset {
	@include themify($themes) {
		color: themed('textColor');
	}
	legend {
		padding: 0 0 15px;
	}
}

.item-checkbox {
	padding: 10px;
  @include themify($themes) {
		color: themed('textColor');
	}
}

.input-box {
	margin-top: 30px;
	position: relative;
	width: 350px;
}

.input-box input {
	background: transparent;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	font-size: 1.25rem;
	letter-spacing: 0.05rem;
	outline: none;
	padding: 8px 10px;
	position: relative;
	width: 100%;
	z-index: 2;
}

.input-box span {
	font-size: 1.2rem;
	left: 0;
	padding: 10px 0;
	pointer-events: none;
	position: absolute;
	transition: 0.5s;
	@include themify($themes) {
		color: themed('textColor');
	}
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
	transform: translateY(-50px);
}

.input-box i {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	transition: 0.5s;
	z-index: 1;
	pointer-events: none;
  background: linear-gradient(to right, #fff, $secondary-color);
}

.input-box input:valid ~ i,
.input-box input:focus ~ i {
	height: 100%;
	border-radius: 16px;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

input[type='checkbox'] {
	position: relative;
	border: 2px solid;
	@include themify($themes) {
		border-color: themed('textColor');
	}
	border-radius: 2px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 0.6em 0 0;
	outline: 0;
	padding: 0;
	vertical-align: text-top;
	height: 20px;
	width: 20px;
	-webkit-appearance: none;
	opacity: 0.5;
}

input[type='checkbox']:hover {
	opacity: 1;
}

input[type='checkbox']:checked {
	@include themify($themes) {
		background-color: themed('textColor');
	}
	opacity: 1;
}
.input-upload {
  width: 350px;

	input[type='file'] {
		display: none;
	}

	label {
		width: 50%;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		padding: 1rem;
		border-radius: 1rem;
		background: linear-gradient(to right, $main-color, $secondary-color);
		color: #fff;
		transition: all 0.5s;
	}

	label:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
}
