@import '../../styles/theme-variables.scss';
@import '../../styles/config/variables.scss';

.content-form {
  @include themify($themes) {
    background: themed('headerBackground');
  }
	min-width: 50%;
	min-height: 50%;
	right: 15px;
	border-radius: 1rem;
	z-index: 1;
	@include for-tablet-landscape-up {
		max-width: 70%;
		min-height: 30%;
		position: absolute;
		top: calc(50% + 40px);
		transform: translateY(-50%);
	}
}

