@import '../styles/theme-variables.scss';

.layout-wrapper {
  @include themify($themes) {
    background: themed('bodyBackgroundColor');
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}